/********** GLOBALS **********/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    font-family: "Open Sans", sans-serif;
}

h1{
    font-size: 30pt;
    font-weight: 400;
    color: #565656
}

p{
    font-size: 16px;
    font-weight: 400;
    color: #565656
}

a{
    font-size: 18px;
    font-weight: 400;
    color: #565656;
    text-decoration: none;
}

.wrapper{
    width: 50%;
    padding-right: 25%;
    padding-left: 25%;
    text-align: center;
}




/********** Main CSS **********/

.profile {
    padding-top: 25px;
    padding-bottom: 10px;
    align-content: center;
    width: 300px;
}

.headline{
    margin-bottom: 25px;
}

.categoryTitle{
    margin-top: 40px;
    margin-bottom: 10px;
}

.social{
    list-style-type: none;
    margin-top: 30px;
}

.social ul li{
    display: inline;
    margin: 10px;
}

.nav{
    list-style-type: none;
    margin-top: 30px;
}

.nav ul li{
    display: inline;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.nav ul li a{
    font-size: 20pt;
}

.currentPage{
    text-decoration: underline;
}

.content{
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: left;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 25px;
}

.contentTitle{
    font-size: 32pt;
    margin-bottom: 25px;
}


.footer{
    margin-top: 50px;
    margin-bottom: 50px;
}

.footerContent{
    text-align: center;
}

.footerTitle{
    font-size: 24pt;
}


.socialFooter{
    list-style-type: none;
    margin-top: 20px;
}

.socialFooter ul li{
    display: inline;
    margin: 10px;
}

.socialFooter ul li img{
    width: 25px;
}

.copyright{
    font-size: 8pt;
    margin-top: 5px;
}

.profileImg{
    width: 20%;
    float: left;
    padding-right: 50px;
}

.members{
    display: block;
    margin-bottom: 100px;
    height: auto;
}

.members p{
    text-align: left;
}

.memberName{
    text-align: left;
}

.memberPosition{
    font-weight: bold;
}

.memberDescription{
    font-size: 10pt;
}

.memberSocials{
    list-style-type: none;
    margin-top: 10px;
    float: left;
}

.memberSocials ul li{
    display: inline;
    margin-right: 5px;
}

.memberSocials ul li img{
    width: 20px;
}
/********** Gallery **********/

.gallery{
    margin-top: 50px;
}

.column1{
    float: left;
    width: 49.5%;
}

.column2{
    float: right;
    width: 49.5%;
}

.gallery-img{
    width: 50%;
    float: left;
}

.column1 .gallery-img{
    padding: 1%;
    padding-right: .5%;
}

.column2 .gallery-img{
    padding: 1%;
    padding-left: .5%;
}


.developmentNav a{
    font-weight: bold;
}




/********** Gallery **********/



@media only screen and (max-width: 1300px){
    .wrapper{
        width: 80%;
        padding-right: 10%;
        padding-left: 10%;
        text-align: center;
    }
    
    p {
        font-size: 12pt;
    }
    
    .nav a{
        font-size: 16pt;
    }
}












